// @see ScreenDefinitionDocument_STARGAZERv2.pdf
// @see Paleta Colores STARGAZER.pdf

// Header background
$primary-background: #7ec9e9;
$secondary-background: #0170a5;

// Default colors
$amber: #f6b412;
$navy-blue: #3b0bff;
$slimy-green: #3c9616;
$light-shadow-color: #bab3b0;
$material-grey-background-color: #f5f5f5;

// Font Colors
$font-color-dark: #000000;
$font-color-light: #fafafa;
$light-shadow-color: #bab3b0;
$material-grey-background-color: #f5f5f5;

// Entities colors
$customer-order-primary-color: #e21560;
$customer-order-secondary-color: #ef7ea9;
$transmission-primary-color: #1b4098;
$transmission-secondary-color: #6386d8;
$event-primary-color: #7ec9e9;
$event-secondary-color: #b8e1f3;
$packages-primary-color: #e3f5e7;
$packages-secondary-color: #e3f5a1;
$organization-primary-color: #0170a5;
$organization-secondary-color: #74b1ce;
$city-primary-color: #ffb226;
$city-secondary-color: #ffcc99;
$contact-primary-color: #a46c55;
$contact-secondary-color: #ceafa2;
$resource-primary-color: #01a475;
$resource-secondary-color: #73cdb3;
$resource-profile-primary-color: #e17c1a;
$resource-profile-secondary-color: #efbb82;
$contract-primary-color: #1ab11d;
$contract-secondary-color: #3bd546;
$rate-cost-card-primary-color: #884690;
$rate-cost-card-secondary-color: #be99c2;
$invoice-primary-color: #006666;
$invoice-secondary-color: #009999;
$basic-unit-primary-color: #0077bb;
$basic-unit-secondary-color: #0099dd;
$product-primary-color: #e11a2f;
$product-secondary-color: #ef818c;
$schedule-primary-color: #e14314;
$schedule-secondary-color: #ef9980;
$evc-view-primary-color: #05525c;
$evc-view-secondary-color: #77a0a6;
$incident-primary-color: #ff0000;
$incident-secondary-color: #ff4c4c;
$tools-primary-color: #7b7b7d;
$tools-secondary-color: #a9a9ac;
