// https://github.com/angular/components/blob/11.2.13/src/material/core/theming/prebuilt/indigo-pink.scss
@import '@angular/material/theming';

@include mat-core();

// https://github.com/angular/components/blob/11.2.13/src/material/core/theming/_palette.scss
// Default palette
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-indigo);
$warn: mat-palette($mat-red);

// Default theme
$theme: mat-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

// Set default theme
@include angular-material-theme($theme);

// https://github.com/kuhnroyal/mat-datetimepicker/tree/v6.0.3
@import '@mat-datetimepicker/core/datetimepicker/datetimepicker-theme';

// Set Datetimepicker theme
@include mat-datetimepicker-theme($theme);
